.adminChangePasswordContainer .formWrapper {
  width: 80%;
  /* border: 1px solid #ccc; */
  border-radius: 8px;

  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminChangePasswordContainer .title {
  font-size: 20px;
  font-weight: 500;
}

.adminChangePasswordContainer .link {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #3498db;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.adminChangePasswordContainer .formContainer {
  width: 100%;
  max-width: 600px;
  margin: auto;
  border: 1px solid #d1d5db;
  border-radius: 0.75rem;
  padding: 30px;
  background-color: rgb(244, 201, 83);
  backdrop-filter: blur(2px);
  background-clip: padding-box;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 6px rrgb(244, 201, 83);
}

.adminChangePasswordContainer .formTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.adminChangePasswordContainer .form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.adminChangePasswordContainer .inputGroup {
  width: 47%;
  margin-bottom: 20px;
  margin-left: 15px;
}
.adminChangePasswordContainer .inputGroup:nth-child(3) {
  width: 100%;
}

.adminChangePasswordContainer .label {
  font-size: 14px;
  font-weight: 500;
  color: rgb(88, 88, 88);
  margin-bottom: 8px;
}

.adminChangePasswordContainer .input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
}

.adminChangePasswordContainer .button {
  width: 50%;
  margin: auto;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.adminChangePasswordContainer .button:hover {
  background-color: blue;
}
