/* .container {
  display: flex;
} */

.adminMain {
  overflow-x: hidden;
  width: 100%;
  max-height: 99.5vh;
  overflow-y: auto;
  flex: 1;
}
.adminSidebarContainer {
  display: flex;
}

.sidebar-section {
  background: rgb(244, 201, 83);
  color: black;
  height: 97vh;
  width: 200px;
  transition: all 0.5s;
  border-radius: 30px;
  margin: 10px;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  width: 45%;
  object-fit: contain;
  mix-blend-mode: darken;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  display: flex;
  color: black;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover {
  background: rgb(92, 68, 0);
  color: rgb(244, 201, 83);
  transition: all 0.5s;
}

.active {
  background: black;
  color: rgb(244, 201, 83);
  border-radius: 5px;
}

.icon,
.link_text {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 80px;
  }

  .bars {
    margin-left: 0;
  }

  .link_text {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .sidebar {
    width: 60px;
  }
}
