/* TeacherAssignmentPage.jsx */
.admin-assignment-page {
  padding: 20px;
}

/* Filter Section */
.admin-assignment-page .filter-section {
  /* margin-bottom: 20px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.filter-section > div {
  display: flex;
}

.admin-assignment-page .filter-label {
  color: black;
  margin-top: 10px;
}

.admin-assignment-page .searchInput {
  /* width: 30%; */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .admin-assignment-page .filter-section {
    flex-direction: column;
    align-items: stretch;
  }
  .filter-section div {
    flex-direction: column;
  }

  .admin-assignment-page .filter-section > div {
    margin-bottom: 15px;
    align-items: stretch;
  }

  .admin-assignment-page .searchInput {
    width: 100%;
  }
}

/* Assignment List */
.admin-assignment-page .assignment-list-title {
  margin-bottom: 10px;
}

.admin-assignment-page .table-container {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow-x: auto;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-assignment-page .table-container table {
  width: 100%;
  border-collapse: collapse;
  font-size: 11px;
  color: black;
  font-weight: 700;
}

.admin-assignment-page thead th {
  background-color: #3498db;
  /* color: white; */
  padding: 12px;
  text-align: left;
  font-weight: bolder;
}

.admin-assignment-page tbody tr:hover {
  background-color: #97c1f1;
}

.admin-assignment-page th,
.admin-assignment-page td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.admin-assignment-page .table-container::-webkit-scrollbar {
  width: 10px;
}

.admin-assignment-page .table-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.admin-assignment-page tbody tr:hover {
  box-shadow: 0 0 10px rgba(243, 240, 240, 0.905);
  transition: box-shadow 0.3s ease;
}
.admin-assignment-page .pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.admin-assignment-page .pagination button {
  border: none;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 3%;
}

.admin-assignment-page .pagination button:hover {
  background-color: #3498db;
}

.adminStudentContainer .pagination span {
  margin: 0 10px;
}
