/* AdmissionForm.css */

.admission-form-section {
  background-color: #27292a;
  margin-top: 50px;
  padding: 40px;
}

.admission-form-section .admission-form {
  text-align: center;
  padding: 15px;
  background-color: #161616;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgb(244, 201, 83);
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.admission-form-section .admission-form h2 {
  margin-bottom: 30px;
  color: rgb(244, 201, 83);
  font-size: 28px;
  font-weight: 700;
}

.admission-form-section .form-group {
  margin-bottom: 20px;
  text-align: left;
}

.admission-form-section .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.admission-form-section .grid-container-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.admission-form-section .grid-item {
  width: 100%;
}

.admission-form-section .grid-item label {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
}

.admission-form-section input[type="text"],
.admission-form-section input[type="email"],
.admission-form-section textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #2b2b2b;
  transition: background-color 0.3s ease;
  font-size: 16px;
  color: #fff;
  margin-top: 8px;
  box-sizing: border-box;
}

.admission-form-section textarea {
  height: 100px;
}

.admission-form-section input[type="text"]:focus,
.admission-form-section input[type="email"]:focus,
.admission-form-section textarea:focus {
  background-color: #3b3b3b;
}

.admission-form-section .toast-success,
.admission-form-section .toast-error {
  width: auto;
  max-width: none;
}

.admission-form-section .toast-container {
  right: auto;
  left: 0;
}

.admission-form-section .toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #4caf50;
  color: #fff;
}

.admission-form-section .toast-error {
  background-color: #f44336;
}

.admission-form-section .toast-body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admission-form-section .toast-close-button {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .admission-form-section .admission-form {
    width: 90%;
    max-width: none;
    padding: 30px;
  }

  .admission-form-section input[type="text"],
  .admission-form-section input[type="email"],
  .admission-form-section textarea,
  .admission-form-section button {
    padding: 12px;
  }
}

@media screen and (max-width: 480px) {
  .admission-form-section .admission-form {
    padding: 20px;
  }

  .admission-form-section .admission-form h2 {
    font-size: 24px;
  }
}
