/* Logic */
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #282525;
  /* margin-top: 20px; */
}

.loginContainer .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1em;
  background-color: #171717;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.loginContainer .card {
  background-image: linear-gradient(163deg, #ffcc00 0%, #0059ff 100%);
  border-radius: 22px;
  transition: all 0.3s;
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
  padding: 1px;
}

.loginContainer .card2 {
  border-radius: 0;
  transition: all 0.2s;
  width: 100%;
  max-width: 700px;
  /* border: 1px solid red; */
}

.loginContainer .card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.loginContainer .card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

.loginContainer #heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.loginContainer .field {
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 1em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.loginContainer .input-icon {
  font-size: 1.3em;
  color: white;
}

.loginContainer .input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.loginContainer .form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.loginContainer .forgot {
  text-align: left;
  color: white;
}

.loginContainer .forgot:hover {
  text-decoration: underline;
  color: red;
}

.loginContainer .button1 {
  padding: 10px;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
  margin-top: 0px;
  width: 100%;
}

.loginContainer .button1:hover {
  background-color: black;
  color: white;
}

.loginContainer .signup {
  display: flex;
  gap: 10px;
}

@media (max-width: 600px) {
  .loginContainer .login {
    height: auto;
  }

  .loginContainer .card,
  .loginContainer .form {
    width: 100%;
    max-width: none;
  }
}
