/* Navbar.css */
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(244, 201, 83);
  color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbarContainer .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.navbarContainer .logo:hover {
  transform: scale(1.01);
}

.navbarContainer .logo img {
  width: 25px;
  height: auto;
  margin-right: 20px;
  background: none;
}

.navbarContainer .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.navbarContainer .menu li {
  margin-left: 30px;
  transition: transform 0.5s ease;
}

.navbarContainer .menu li:hover {
  transform: scale(1.1);
}

.navbarContainer .menu li:first-child {
  margin-left: 0;
}

.navbarContainer .menu li a {
  color: #333;
  text-decoration: none;
}

.navbarContainer .menu li a:hover {
  text-decoration: underline;
  color: #007bff;
}

.navbarContainer .website-name {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(45deg, #1d2f43, #3486a3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbarContainer .menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  .navbarContainer .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: rgb(244, 201, 83);
    font-size: 16px;
    /* margin-top: 20px; */
  }

  .navbarContainer .menu-open .menu {
    display: flex;
  }

  .navbarContainer .menu li {
    margin-left: 0;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .navbarContainer .menu-icon {
    display: block;
    margin-right: 15px;
  }

  .navbarContainer .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .navbarContainer .menu-open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .navbarContainer .menu-open .bar:nth-child(2) {
    opacity: 0;
  }

  .navbarContainer .menu-open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (max-width: 420px) {
  .navbarContainer .menu {
    margin-top: 30px;
  }
}

@media (max-width: 380px) {
  .navbarContainer .menu {
    margin-top: 60px;
  }
}
